[Unit]
Description=Squeezelite
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/room-config/current
ExecStart=/usr/bin/squeezelite -n "${HKAUDIO_DEVICENAME}" -d all=info
Restart=on-failure

[Install]
WantedBy=multi-user.target
